.ignore-click {
  pointer-events: none;
}

/* FlexBox configuration */

.flex-container {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container-category {
    align-items: stretch;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media(max-width:767px) {
  .flex-item {
    width: 100%;
  }
}

@media(min-width:768px) {
  .flex-item {
    width: 45%;
  }
}

@media(min-width:992px) {
  .flex-item {
    width: 30%;
  }
}

.flex-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.flex-item:hover {
  border: 1px solid steelblue;
  box-shadow: 3px 3px #ddd;
  cursor: pointer;
}

.flex-item > h4 {
  background-color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item:hover > h4 {
  background-color: #d8ecf3;
}

.flex-item > p {
  margin: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-item > p:last-child {
  align-self: flex-end;
}

.flex-item a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
 }

 .flex-item h4 > small {
  border-left: 1px solid #777;
  padding-left: 5px;
 }

/* --- */

#repositories p.stats > a {
  margin-left: 15px;
}

#repositories p.stats > a:last-child {
  margin-right: 15px;
}

#categories p.links > a:last-child{
    margin-right: 60px;
}

#categories p.links{
    text-align: right;
}


#categories p.links > a:first-child{
    margin-left: 60px;
    float:left;
}

/* --- */
.navbar-header a.navbar-brand {
  color: #005dab;
  font-weight: bold;
}
.navbar {
    margin-bottom: 0;
}

/* Dropdown */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    align: center;
    padding: 5px;
}

@media (max-width: 768px) {
    .dropdown-content { visibility: hidden; }
}

.dropdown:hover .dropdown-content { display: block; }

@media(max-width:767px) {
    .flex-category {
        width: 100%;
    }
}

@media(min-width:768px) {
    .flex-category {
        width: 45%;
    }
}

@media(min-width:992px) {
    .flex-category {
        width: 33%;
    }
}

.flex-category {
    margin: 0px;
    margin-bottom: 30px
}

.flex-category > h4 {
    margin: 0px;
    padding-bottom: 25px;
    font-weight: bold;
}

.flex-category > p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.flex-category a {
    /* Don't decorate links in repo items */
    color: inherit;
    text-decoration: none;
}

.flex-category a:first-child {
    font-weight: bold;
}

.flex-category > img {
    align-items: center;
    margin-bottom: -15%
}

.page-title {
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
}

[ng-click] {
    cursor: pointer;
}

@media(max-width:767px) {
    .banner {
        background-image: 
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position:  center, 50% 90%;
        background-repeat: no-repeat, no-repeat;
        background-size:  auto, 100px 100px;
        height: 300px;
    }
}

@media(min-width:768px) {
    .banner {
        background-image: 
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position: center, 50% 90%;
        background-repeat: no-repeat, no-repeat;
        background-size: auto, 130px 130px;
        height: 300px;
    }
}


@media(min-width:1200px) {
    .banner {
        background-image: 
            url('/assets/images/OS-icon-color.png'),
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position: 30% 50%, 70% 50%, 67% 90%;
        background-position: -webkit-calc(50% - 310px) 50%, -webkit-calc(50% + 310px) 50%, -webkit-calc(50% + 310px) 90%;
        background-position: calc(50% - 310px) 50%, calc(50% + 310px) 50%, calc(50% + 310px) 90%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 550px 550px, auto, 130px 130px;
        height: 300px;
    }
}

.header{
    height: 100%;
    width: 100%; 
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: 150vh;
    padding-right: 40px;
    padding-left: 15px;
}

.sidebar {
    width: 30%;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    text-align: left;
    top: 0;
    background-color:  #f8f8f8;
}

.stickynav a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:40px;
    text-decoration:none;
    color: black;
    font-size: 2rem;
    display: block;
}

.stickynav a:hover {
    background-color: rgba(0,0,0,0.1)
}


/* This hides all pages */
.page {
    display: none;
    padding-left:20px;
    padding-top:20px;
    margin:0px;
    height: 100%;
    background-color: blue;
}

/* This displays the page corresponding to the one you clicked on */
:target {
    display: block;

}


