.ignore-click {
  pointer-events: none;
}

/* FlexBox configuration */

.flex-container {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container-category {
    align-items: stretch;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:767px) {
  .flex-item {
    width: 100%;
  }
}

@media(min-width:768px) {
  .flex-item {
    width: 45%;
  }
}

@media(min-width:992px) {
  .flex-item {
    width: 30%;
  }
}

.flex-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.flex-item:hover {
  border: 1px solid steelblue;
  box-shadow: 3px 3px #ddd;
  cursor: pointer;
}

.flex-item > h4 {
  background-color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item:hover > h4 {
  background-color: #d8ecf3;
}

.flex-item > p {
  margin: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-item > p:last-child {
  align-self: flex-end;
}

.flex-item a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
 }

 .flex-item h4 > small {
  border-left: 1px solid #777;
  padding-left: 5px;
 }

/* --- */

#repositories p.stats > a {
  margin-left: 15px;
}

#repositories p.stats > a:last-child {
  margin-right: 15px;
}

#categories p.links > span:last-child{
    margin-right: 60px;
}

#categories p.links{
    text-align: right;
    padding-bottom: 15px;
    padding-top: 8px;
}


#categories p.links > span:first-child{
    margin-left: 15%;
    margin-right: 10px;
    float:left;
}

#categories p.links > span:nth-child(2) {
    float:left;
    font-weight: bold;
    font-size: 110%;
}
#categories p.links > span:nth-child(3) {
    margin-right: 5px;
}
#categories p.links > span:nth-child(4) {
    margin-right: 5px;
}

/* --- */
.navbar-header a.navbar-brand {
  color: #005dab;
  font-weight: bold;
}
.navbar {
    margin-bottom: 0;
}

/* Dropdown */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    align: center;
    padding: 5px;
}

@media (max-width: 768px) {
    .dropdown-content { visibility: hidden; }
}

.dropdown:hover .dropdown-content { display: block; }

@media(max-width:767px) {
    .flex-category {
        width: 100%;
    }
}

@media(min-width:768px) {
    .flex-category {
        width: 45%;
    }
}

@media(min-width:992px) {
    .flex-category {
        width: 33%;
    }
}

.flex-category {
    margin-bottom: 30px;
    transition: 0.3s;
}

.dynamic:hover {
    border: 1px solid steelblue;
    box-shadow: 3px 3px #ddd;
    cursor: pointer;
}

.flex-category > img {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

.flex-category > h4 {
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 25px;
    font-weight: bold;
}

.flex-category > p {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.flex-category a {
    /* Don't decorate links in repo items */
    color: inherit;
    text-decoration: none;
}

.flex-category-focused{
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
}
.flex-category-focused > h3 {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.flex-category-focused > p {
    margin: 50px;
    font-size: 2rem;
    text-align: center;
}

.flex-category-focused a {
    /* Don't decorate links in repo items */
    color: inherit;
    text-decoration: none;
}

.flex-category-focused a:first-child {
    font-weight: bold;
}

.flex-category-focused > img {
    width: 15%;
    min-width: 100px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.orgAvatar {
    width: 35px;
    height: 35px;
}

.more {
    float:right;
    font-weight:bold;
    margin-right:60px;
    margin-bottom: 20px;
    transition: 0.3s;
    font-size: 1.3rem;
}

.page-title {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

[ng-click] {
    cursor: pointer;
}

@media(max-width:767px) {
    .banner {
        background-image: 
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position:  center, 50% 90%;
        background-repeat: no-repeat, no-repeat;
        background-size:  auto, 100px 100px;
        height: 300px;
    }
}

@media(min-width:768px) {
    .banner {
        background-image: 
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position: center, 50% 90%;
        background-repeat: no-repeat, no-repeat;
        background-size: auto, 130px 130px;
        height: 300px;
    }
}


@media(min-width:1200px) {
    .banner {
        background-image: 
            url('/assets/images/OS-icon-color.png'),
            url('/assets/images/banner-top.svg'),
            url('/assets/images/OS-logo-white.png');
        background-color: #2b4047;
        background-position: 30% 50%, 70% 50%, 67% 90%;
        background-position: -webkit-calc(50% - 310px) 50%, -webkit-calc(50% + 310px) 50%, -webkit-calc(50% + 310px) 90%;
        background-position: calc(50% - 310px) 50%, calc(50% + 310px) 50%, calc(50% + 310px) 90%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 550px 550px, auto, 130px 130px;
        height: 300px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    padding-top: 20px;
   // position: relative;
}

.page {
    justify-content:center;
    height: 100%;
}

@media(max-width:1199px){
    .nav-container {
        display: none;
    }
    .hamburger-container {
        width: 100%;
        background-color: red;
        height: 30px;
    }
}
@media(min-width:1200px){
    .nav-container {
        min-width: 300px;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
        top: 0;
        background-color:  #f8f8f8;
    }
    .hamburger-container {
        display: none;
    }
}

@media(max-width:1199px){
    .hamburger-container {
        width: 100%;
        background-color: #f8f8f8;
        height: 45px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        border-bottom: lightgrey solid 1px;
        padding-left: 15px;
    }
}
@media(min-width:1200px){
    .hamburger-container {
        display: none;
    }
}


.stickynav a {
    padding-left: 15px;
    padding-right:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:50px;
    text-decoration:none;
    font-size: 1.8rem;
    display: block;
    transition: 0.3s;
    border: solid 1px lightgrey;
    border-top: none;
}

.stickynav a:hover {
    background-color: steelblue;
    color: white;
    padding-left: 18px;
}

.hamburger-nav a{
    padding-left: 15px;
    padding-right:15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:50px;
    text-decoration:none;
    font-size: 1.8rem;
    display: block;
    transition: 0.3s;
    border: solid 1px lightgrey;
    border-top: none;
    background-color: #f8f8f8;
}

.hamburger-nav a:hover {
    background-color: steelblue;
    color: white;
    padding-left: 18px;
}

.tab{
    color: black;
}
.selected-tab {
    color: steelblue;
    font-weight: bold;
}



.hamburger-container span {
    color: gray;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.hamburger-container span:hover {
    cursor: pointer;
    color: black;
}

.hamburger-nav{
    padding-top: 50px;
    padding-right: 15px;
}

