/* FlexBox configuration */

.flex-container {
  align-items: stretch;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media(max-width:767px) {
  .flex-item {
    width: 100%;
  }
}

@media(min-width:768px) {
  .flex-item {
    width: 45%;
  }
}

@media(min-width:992px) {
  .flex-item {
    width: 30%;
  }
}

.flex-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

.flex-item > h4 {
  background-color: #f5f5f5;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-item > p {
  margin: 10px 0;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-item > p:last-child {
  align-self: flex-end;
}

.flex-item a {
  /* Don't decorate links in repo items */
  color: inherit;
  text-decoration: none;
 }

 .flex-item h4 > small {
  border-left: 1px solid #777;
  padding-left: 5px;
 }

/* --- */

#repositories p.stats > a {
  margin-left: 15px;
}

#repositories p.stats > a:last-child {
  margin-right: 15px;
}


/* --- */
.navbar-header a.navbar-brand {
  color: #005dab;
  font-weight: bold;
}
