/* For individual repository pages */

.subtitle {
  font-size: 60%;
  vertical-align: super;
}

a.plain-link {
  color: inherit;
  text-decoration: none;
}

span.fa {
  margin-right: 8px;
  font-size: 110%;
}

p.stats {
  font-size: 150%;
}

p.stats > a {
  color: inherit;
  text-decoration: none;
  margin-left: 30px;
}

p.stats > a:last-child {
  margin-right: 30px;
}
