---
title: LLNL RADIUSS Catalog
layout: portal
---

LLNL's RADIUSS project&mdash;Rapid Application Development via an Institutional Universal Software Stack&mdash;aims to broaden usage across LLNL and the open source community of a set of libraries and tools used for HPC scientific application development.

{% raw %}

<h2 class="page-header text-center">
    <span ng-show="repoData"> {{ repoData.length }} </span>
    RADIUSS Software Repositories
</h2>

<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
        <input id="filterRepos" type="text" style="width: 100%" autofocus placeholder="Filter RADIUSS Repositories">
    </div>
</div>

<section ng-show="repoData" id="radiuss repositories" class="flex-container">

    <div ng-repeat="repo in repoData | filter:searchText  | orderBy:predicate:reverse" class="flex-item {{repo.name}} {{repo.owner.login}} {{repo.primaryLanguage.name}}" ng-click="repoHref(repo.nameWithOwner)">
        <h4 class="text-center">
            <span alt="Name" title="Name"> {{ repo.name }} </span>
            <small><span alt="Owner" title="Owner"> {{ repo.owner.login }} </span></small>
            <small><span alt="Primary Language" title="Primary Language"> {{ repo.primaryLanguage.name }} </span></small>
        </h4>

        <p class="text-justify"> {{ repo.description }} </p>

        <p class="stats text-center">
            <a href="{{ repo.url }}" alt="GitHub Page" title="GitHub Page">
                <span class="fa fa-github"></span>
            </a>

            <a href="{{ repo.url }}/stargazers" alt="Stargazers" title="Stargazers">
                <span class="fa fa-star"></span> {{ repo.stargazers.totalCount }}
            </a>

            <a href="{{ repo.url }}/network" alt="Forks" title="Forks">
                <span class="fa fa-code-fork"></span> {{ repo.forks.totalCount }}
            </a>

            <a ng-if="repo.homepageUrl" href="{{ repo.homepageUrl }}" alt="Project Website" title="Project Website">
                <span class="fa fa-globe"></span>
            </a>
        </p>
    </div>
</section>

{% endraw %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/github-dynamic-radiuss.js"></script>
