name: "LLNL Software Portal"
author: "LLNL Open Source <open-source@llnl.gov>"
title: LLNL Software Portal
description: "Lawrence Livermore National Laboratory Software Portal"
remote_theme: LLNL/Jekyll-LLNL-Theme@main
release_number: LLNL-WEB-680594

url: "https://software.llnl.gov"
repo_url: "https://github.com/LLNL/llnl.github.io"
baseurl: ""
environment: production
IM_NUMBER: LLNL-WEB-458451
CONTACT: mailto:open-source-core@llnl.gov

# LLNL Piwik Analytics https://analytics.llnl.gov
piwik_id: 250

# Google Analytics ID -- Commented out in favor of new tag instructions
# google_analytics:
#   tracking_id: UA-75179431-1

# Twitter username (used by jekyll-seo-tag)
twitter:
  username: livermore_comp

# GitHub Metadata -- https://github.com/jekyll/github-metadata
repository: llnl/llnl.github.io
plugins:
  - jekyll-github-metadata
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap

markdown: kramdown
kramdown:
  auto_ids: true

defaults:
  - scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "container-default"
      permalink: "/news/:year/:month/:day/:title/"

permalink: pretty

exclude:
    - CNAME
    - Gemfile
    - Gemfile.lock
    - README.md
    - Makefile
    - notes.md
    - build
    - visualize/README.md