---
title: LLNL Software Catalog
layout: homepage
---

{% raw %}


<p class="page-title"> Welcome to the LLNL software portal—a hub for our open source projects. This catalog is updated automatically as repositories are added or modified. </p>

<section class="flex-container-category" id="categories">
    <div ng-repeat="category in catData" class="flex-category {{repo.ownerAvatar}} {{repo.name}} {{repo.gitUrl}} {{repo.homepageUrl}}">
        <img src="{{category.icon.path}}" alt="{{category.icon.alt}}">
        <h4 class="text-center">{{category.title}}</h4>
        <p class="text-center">{{category.description}}</p>


        <div ng-repeat="repo in topicRepos" ng-show="repo.topics.indexOf(category.topic) != -1">
            <p class="links">

                <span>
                <a  href="https://github.com/{{ repo.ownerLogin}}" alt="View Owner on GitHub" title="Owner: {{repo.ownerLogin}}">
                    <img class ="orgAvatar" src="{{repo.ownerAvatar}}">
                </a>
                </span>

                <span>
                <a ng-click="repoHref(repo.nameWithOwner)" alt="Name" title="Name">
                    {{repo.name}}
                </a>
                </span>

                <span>
                <a href="{{repo.gitUrl}}" alt="GitHub Page" title="GitHub Page">
                    <span class="fa fa-github"></span>
                </a>
                </span>

                <span>
                <a ng-if="repo.homepageUrl" href="{{repo.homepageUrl}}" alt="Project Website" title="Project Website">
                    <span class="fa fa-globe text-right"></span>
                </a>
                </span>
            </p>
        </div>
    
    </div>

</section>


{% endraw %}


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="/js/category-info.js"></script>

