---
title: LLNL Software Catalog
layout: portal
---

<!-- {% assign repositories = (site.github.public_repositories | sort: 'stargazers_count' | reverse) %} -->

<h1 class="text-center">
    <span ng-hide="repoData"/>Loading...</span>
    <span>{{ userData.name }}</span>
    <br>
    <a href="{{userData.html_url}}" class="btn btn-default">
        <span class="octicon octicon-octoface"></span>
        {{ userData.login }}
    </a>

</h1>

<h2 class="page-header text-center">{{ repositories | size }} Software Repositories</h2>

<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <input id="filterRepos" type="text" style="width: 100%" autofocus placeholder="Filter Repositories">
  </div>
</div>

<section id="repositories" class="flex-container">
  {% for repo in repositories %}
    <div class="flex-item {{repo.name}} {{repo.language}}">
      <h4 class="text-center">
        <a href="{{ repo.html_url }}"> {{ repo.name }} </a>
        <small>{{ repo.language }}</small>
      </h4>

      <p class="text-justify">{{ repo.description }}</p>

      <p class="stats text-center">
        <!-- <span class="fa fa-github"></span> -->
        <a href="{{ repo.html_url }}/network">
          <span class="fa fa-code-fork"></span> {{ repo.forks_count }}
        </a>

        <a href="{{ repo.html_url }}/stargazers">
          <span class="fa fa-star"></span> {{ repo.stargazers_count }}
        </a>

        {% if repo.homepage and repo.homepage != "" %}
        <a href="{{ repo.homepage }}/">
          <span class="fa fa-globe"></span>
        </a>
        {% endif %}
      </p>
    </div>
  {% endfor %}
</section>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="js/github-dynamic.js"></script>
