<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-lg-2 mb-2" id="footer-logo-wrapper">
        <div id="footer-logo">
          <a class="llnl" href="https://www.llnl.gov/" target="_blank"><img src="/assets/images/llnl-logo-dark.png" alt="LLNL logo"></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 mb-2" id="footer-text-wrapper">
        <div id="footer-text">
          <div id="footer-text-name">Lawrence Livermore National Laboratory </div>
          <div id="footer-text-address">
            <span class="hidden-xs">&nbsp;|</span>
            7000 East Avenue • Livermore, CA 94550 | {{ site.IM_NUMBER }}
          </div>
            <div id="footer-text-info">
            Operated by the Lawrence Livermore National Security, LLC for the Department of Energy's National Nuclear Security Administration Learn about the Department of Energy's <a href="https://www.energy.gov/cio/articles/vulnerability-disclosure-policy" target="_blank" rel="noopener noreferrer">Vulnerability Disclosure Program</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3" id="footer-affiliates">
        <a class="llns" href="http://www.llnsllc.com/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/llns.png" alt="LLNS"></a>
        <a class="doe" href="https://www.energy.gov/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/doe_white_2025.png" alt="U.S. DOE"></a>
        <a class="nnsa" href="https://www.energy.gov/nnsa/national-nuclear-security-administration/" target="_blank" rel="noopener noreferrer"><img src="/assets/images/nnsa.png" alt="NNSA"></a>
      </div>

      <div class="col-xs-12 col-sm-4 col-lg-3" id="footer-links">
        <div class="disclaimer">
          <a href="/">Home</a>
          <a href="https://www.llnl.gov/disclaimer" target="_blank">Disclaimer</a>
          <a href="https://www.llnl.gov/website-privacy-notice" target="_blank">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</div>