<!-- Desktop menu -->
<header class="navbar navbar-expand-lg border-top border-10 border-top-lab-blue d-none d-lg-block bg-livermorium-ice">
  <div class="container">
    <div class="llnl-logo-wrap">
      <div id="llnl-logo">
        <a href="https://www.llnl.gov"><img src="/assets/images/llnl-logo.png" alt="LLNL Logo"></a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-azure"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class=" d-none d-lg-inline text-lab-blue text-decoration-none fw-bold border-1 border-black border-end pe-3 mx-2 fs-18 text-azure" href="/">LLNL Software Catalog</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold  active" href="/">Catalog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-semibold  dropdown-toggle" href="/visualize/" data-bs-toggle="dropdown" aria-expanded="false">Visualizations</a>
            <ul class="dropdown-menu">
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/" title="Go to Overview">Overview</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/contributors/" title="Go to Contributors">Contributors</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/dependencies/" title="Go to Dependencies">Dependencies</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/popular-repos/" title="Go to Popular Repos">Popular Repos</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-semibold dropdown-toggle" href="/about/" data-bs-toggle="dropdown" aria-expanded="false">About</a>
            <ul class="dropdown-menu">
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/" title="Go to Overview">Overview</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/faq/" title="Go to FAQ">FAQ</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/policies/" title="Go to Policies">Policies</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/licenses/" title="Go to Software Licenses Guide">Software Licenses Guide</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/contribute/" title="Go to Contributing Guidelines">Contribute to This Site</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/conduct/" title="Go to Code of Conduct">Code of Conduct</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold " href="/news/">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold " href="/releases/">Releases</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-azure" href="https://github.com/LLNL/llnl.github.io"><i class="fa fa-regular fa-github fa-lg d-none d-lg-inline" aria-hidden="true"></i><span class="d-lg-none">LLNL GitHub</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-azure" href="https://x.com/Livermore_Comp"><i class="fa-brands fa-x-twitter fa-lg d-none d-lg-inline" aria-hidden="true"></i><span class="d-lg-none">LLNL Computing on X</span></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Mobile menu -->
<header class="navbar navbar-expand-lg nav border-top border-10 border-top-lab-blue d-lg-none bg-livermorium-ice">
    <div class="llnl-logo-wrap">
      <div id="llnl-logo">
        <a href="https://www.llnl.gov"><img src="/assets/images/llnl-logo.png" alt="LLNL Logo"></a>
      </div>
    </div>
    <div class="navbar me-auto">
      <a class="text-azure text-decoration-none fw-bold" href="/">LLNL Software Catalog</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-azure"></span>
    </button>
    <div class="collapse navbar-collapse ps-5 bg-dark-grey" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold mx-3" href="/">Catalog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-semibold dropdown-toggle mx-3" href="/visualize/" data-bs-toggle="dropdown" aria-expanded="false">Visualizations</a>
            <ul class="dropdown-menu">
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/" title="Go to Overview">Overview</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/contributors/" title="Go to Contributors">Contributors</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/dependencies/" title="Go to Dependencies">Dependencies</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/visualize/popular-repos/" title="Go to Popular Repos">Popular Repos</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-semibold dropdown-toggle mx-3" href="/about/" data-bs-toggle="dropdown" aria-expanded="false">About</a>
            <ul class="dropdown-menu">
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/" title="Go to Overview">Overview</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/faq/" title="Go to FAQ">FAQ</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/policies/" title="Go to Policies">Policies</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/licenses/" title="Go to Software Licenses Guide">Software Licenses Guide</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/contribute/" title="Go to Contributing Guidelines">Contribute to This Site</a>
                </li>
                <li class="mx-3">
                  <a class="dropdown-item fw-semibold  my-1" href="/about/conduct/" title="Go to Code of Conduct">Code of Conduct</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold mx-3" href="/news/">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold mx-3" href="/releases/">Releases</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-4" href="https://github.com/LLNL/llnl.github.io"><i class="fa fa-regular fa-github fa-lg d-none d-lg-inline" aria-hidden="true"></i><span class="d-lg-none">LLNL GitHub</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-4" href="https://x.com/Livermore_Comp"><i class="fa-brands fa-x-twitter fa-lg d-none d-lg-inline" aria-hidden="true"></i><span class="d-lg-none">Livermore_Comp on X</span></a>
        <li><i class="fa-brands fa-x-twitter"></i></li>
      </ul>
    </div>
</header>