<nav id="header-slim" class="navbar navbar-default">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <p id="llnl-menu-tab" class="pull-left"><a href="https://www.llnl.gov"></a></p>
      <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>

    {% include nav.html %}

  </div>
</nav>
