<nav id="header-slim" class="navbar navbar-default">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <p id="llnl-menu-tab" class="pull-left"><a href="https://www.llnl.gov" title="LLNL"></a></p>
      <a class="navbar-brand" href="/" title="LLNL Software Portal"><b>{{ site.name }}</b></a>
    </div>

    <div id="siteNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-collapse">
        <li id="explore"
            {% if page.url == "/explore/" %} class="active dropdown"
            {% else %} class="dropdown"
            {% endif %}><a class="navbar-normal" href="/explore/#/AllSoftware">Explore</a>
        </li>
        <li id="visualize"
        {% if page.url == "/visualize/" %} class="active dropdown"
        {% else %} class="dropdown"
        {% endif %}><a class="navbar-normal" href="/visualize/">Visualize</a>
          <div class="dropdown-content">
            <p><a class="navbar-normal" href="/visualize/dependencies/">Dependencies</a></p>
            <p><a class="navbar-normal" href="/visualize/popular-repos/">Popular Repositories</a></p>
            <p><a class="navbar-normal" href="/visualize/contributors/">Contributors</a></p>
          </div>
        </li>
        <li id="about"
            {% if page.url == "/about/" %} class="active dropdown"
            {% else %} class="dropdown"
            {% endif %}><a class="navbar-normal" href="/about/">About</a>
          <div class="dropdown-content">
            <p><a class="navbar-normal" href="/about/faq/">FAQ</a></p>
            <p><a class="navbar-normal" href="/about/policies/">Policies & Guidelines</a>
            <p><a class="navbar-normal" href="/about/licenses/">Licenses Guide</a></p>
          </div>
        </li>
        <li id="news"
        {% if page.url == "/news/" %} class="active dropdown"
        {% else %} class="dropdown"
        {% endif %}><a class="navbar-normal" href="/news/">News</a>
          <div class="dropdown-content">
            <p><a class="navbar-normal" href="/news/archive/">Archive</a></p>
          </div>
        </li>
        <li id="github-button"><a href="https://github.com/llnl"><span class="fa fa-github fa-lg" title="GitHub icon"></span></a></li>
        <li id="twitter-button"><a href="https://twitter.com/LLNL_OpenSource"><span class="fa fa-twitter fa-lg" title="Twitter icon"></span></a></li>
      </ul>
    </div>

  </div>
</nav>

<span id="forkongithub"><a alt="Fork me on GitHub" title="Fork me on GitHub" href="{{site.repo_url}}/tree/main/{{page.path}}" target="_blank">Fork me on GitHub</a></span>
