<!-- jQuery first, then Bootstrap JS. -->
<script src="https://cdn.llnl.gov/jquery/2.1.4/js/jquery-2.1.4.min.js"></script>
<script src="https://cdn.llnl.gov/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script async id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>

<script src="/js/filter-repos.js"></script>
<script src="/assets/js/anchor.min.js"></script>

<script>
    anchors.add()
</script>

<script type="text/javascript">
$('.filterBtnGroup button').on('click', function(filterContent) {
    $('.filterBtnGroup button').attr('disabled', false);
    $(this).attr('disabled', true);
    var tag = $(this).text();
    $('.news').hide();
    $('.' + $(this).attr('id')).fadeIn();
    filterContent.preventDefault();
})
</script>

{% include google_analytics.html %}
