.footer-bottom .disclaimer a {
    text-decoration: none;
}

.footer-bottom .disclaimer a:hover {
    text-decoration: underline;
}

.footer {
    background: #e8e8e8;
    border-top: 1px solid #dddddd;
    box-shadow: 0 -1px 7px rgba(0,0,0,0.05), inset 0 1px 0px #fff;
    padding-top: 3.5em;
    padding-bottom: 2.0em;
    margin-top: 2.5em;
    border-bottom: none;
  }
  .footer h4 {
    letter-spacing: 2.7px;
    font-size: 18px;
    font-weight: normal;
    color: var(--elemental-navy);
    margin: 0 0 20px 0;
  }
  .footer-bottom {
    margin-top: 80px;
    padding: 15px 0;
    background: var(--elemental-navy);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.05);
    color: #c3c3c3;
    font-size: 9px;
    float: none;
    position: relative;
    z-index: 1200;
  }
  /* .footer-bottom .llnl img {
    width: 35px;
  } */
  .footer-bottom .llns {
    margin-top: 2px;
  }
  .footer-bottom .llns img {
    width: 35px;
  }
  .footer-bottom .doe {
    margin-top: -2px;
  }
  .footer-bottom .doe img {
    width: 105px;
  }
  .footer-bottom .nnsa {
    margin-top: 7px;
    margin-left: 2px;
  }
  .footer-bottom .nnsa img {
    width: 75px;
  }
  .footer-bottom a {
    margin-right: 12px;
    color: #FCB317;
  }
  .footer-bottom .disclaimer a,
  .footer-bottom .disclaimer {
    font-size: 12px;
    float: none;
    color: #fff;
  }
  .footer-bottom .col-xs-12 {
    margin-bottom: 0px;
  }
  .footer-bottom #footer-text {
    width: 90%;
    margin: 3px 0 0 0;
    float: left;
  }
  #footer-text-name,
  #footer-text-address {
    float: left;
  }
  #footer-text-info {
    clear: both;
  }
  .footer-bottom #footer-affiliates {
    margin: 7px 0 0 0;
  }
  .footer-bottom #footer-logo {
    margin: 7px 0 0 0;
    float: left;
  }
  .footer-bottom #footer-links {
    margin: 12px 0 0 0;
    text-align: right;
  }
  .footer-social-media span.ext {
    display: none;
  }
  .footer-social-media img {
    width: 25px;
  }
  .footer-social-media img.social-icon-fb {
    width: 15px;
  }
  .footer-social-media img.social-icon-gd {
    width: 17px;
  }
  .footer-social-media img.social-icon-yt {
    width: 33px;
  }
  .footer-social-media a {
    text-decoration: none;
  }
  .footer-column span.ext {
    display: none;
  }
  .footer-main-menu-block .navbar-nav > li {
    float: none;
    margin: 5px 0;
  }
  .footer-main-menu-block .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 5px;
  }
  .footer-llnl-links li,
  .footer-mission-areas li,
  .footer-about-llnl li {
    list-style: none;
    margin: 0 0 5px 0;
  }
  .footer-llnl-links ul,
  .footer-mission-areas ul,
  .footer-about-llnl ul {
    padding-left: 0px;
  }
  
  .footer-column li a::before {
    padding-right: 10px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f054";
    color: #000;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .footer-column a:hover {
    color: #191919;
  }
  
  
  .footer-social-media .social-icon {
    margin: 0 10px 0 0;
  }