.vertical-center {
    display: flex;
    align-items: center; 
}

.ms--2 {
    margin-left: -2em;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.fs-30 {
    font-size: 30px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-18 {
    font-size: 18px;
    line-height: 30px;
}

.fs-20 {
    font-size: 20px;
    line-height: 27px;
}

.gx-27 {
    --bs-gutter-x: 27px;
}

.gy-27 {
    --bs-gutter-y: 27px;
}

.border-radius-75 {
    border-radius: 0.75em;
}

.text-pretty {
    text-wrap: pretty;
}

.text-balance {
    text-wrap: balance;
}

.comma-delimit:not(:last-child)::after {
    content: ", ";
}

.contain-paint {
    contain: paint;
}

.box-shadow-10 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.box-shadow-3-6 {
    -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.w-fit-content {
    width: fit-content;
}

@media (min-width: 768px) {
    .columns-md-2 {
        columns: 2;
    }
}

a.text-black-hover:hover,
a.text-black-hover:hover * {
    color: black !important;
}


.text-decoration-underline-hover {
    text-decoration: none;
}

.text-decoration-underline-hover:hover {
    text-decoration: underline;
}

.border-top-gradient-impact-extreme::before,
.border-bottom-gradient-impact-extreme::after {
    content: "";
    display: block;
    background: linear-gradient(to right, var(--impact-blue), var(--extreme));
    height: 6px;
}

.border-top-gradient-impact-extreme.thin::before,
.border-bottom-gradient-impact-extreme.thin::after {
    height: 4px;
}

.border-bottom-gradient-impact-extreme {
    position: relative;
}

.border-bottom-gradient-impact-extreme::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-body-default { 
    color: var(--bs-body-color);
}

.btn-gradient,
.btn-outline-gradient {
    --bs-btn-color: var(--impact-blue);
    --bs-btn-border-color: var(--impact-blue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: linear-gradient(to right, var(--impact-blue), var(--extreme));
    --bs-btn-active-border-color: var(--impact-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--impact-blue);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--impact-blue);
    --bs-gradient: none;
}

.btn-gradient,
.btn-outline-gradient:active,
.btn-outline-gradient.active {
    background: linear-gradient(to right, var(--impact-blue), var(--extreme));
}

.btn-gradient:hover {
    background: linear-gradient(to right, #000, #000);
}

.chart-divide {
    padding: 0 0 50px 0;
    margin: 50px 0;
}

article a[href^="http://"]:not([href*="llnl.gov"], .llnl-quick-link, .brackets, .tile, .no-icon):after,
article a[href^="https://"]:not([href*="llnl.gov"], .llnl-quick-link, .brackets, .tile, .no-icon):after,
article a.llnl-quick-link[href^="https://"]:not([href*="llnl.gov"], .no-icon) .llnl-content:after,
article a.tile[href^="https://"]:not([href*="llnl.gov"], .no-icon) p:after,
.external-link:after {
  color: var(--carbon-gray);
  display: inline-block;
  font-family: 'Font Awesome 6 Pro';
  content: "\f08e";
  margin-left: 8px;
  margin-right: 2px;
  font-size: 8px;
  text-decoration: none;
  vertical-align: middle;
}

article a[href^="http://"]:not([href*="llnl.gov"], .llnl-quick-link, .brackets, .tile, .no-icon):hover:after,
article a[href^="https://"]:not([href*="llnl.gov"], .llnl-quick-link, .brackets, .tile, .no-icon):hover:after,
article a.llnl-quick-link[href^="https://"]:not([href*="llnl.gov"], .no-icon):hover .llnl-content:after,
article a.tile[href^="https://"]:not([href*="llnl.gov"], .no-icon):hover p.h3:after,
.external-link:hover:after {
  color: var(--elemental-navy);
}
