{% assign slug = include.title | slugify %}
<div class="accordion default" id="accordion-{{ slug }}">
    <div class="accordion-item">
      <p class="accordion-header" id="heading-{{ slug }}">
        <button class="accordion-button {% unless(include.open) %}collapsed{% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ slug }}" aria-expanded="{% if(include.open) %}true{% else %}false{% endif %}" aria-controls="collapse-{{ slug }}">
            {{ include.title }}
        </button>
        </p>
        <div id="collapse-{{ slug }}" class="accordion-collapse collapse {% if(include.open) %}show{% endif %}" aria-labelledby="heading-{{ slug }}" data-bs-parent="#accordion-{{ slug }}">
            <div class="accordion-body">
                {{ include.content }}
            </div>
        </div>
    </div>
</div>