{% assign slug = include.title | slugify %}
{% if include.slug %}
    {% assign slug = include.slug %}
{% endif %}
<div class="accordion default" id="accordion-{{ slug }}">
    <div class="accordion-item" id="accordion-item-{{ slug }}">
      <p class="accordion-header" id="accordion-header-{{ slug }}">
        <button class="accordion-button {% unless(include.open) %}collapsed{% endunless %}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ slug }}" aria-expanded="{% if(include.open) %}true{% else %}false{% endif %}" aria-controls="{{ slug }}">
            {{ include.title }}
        </button>
        </p>
        <div id="{{ slug }}" class="accordion-collapse collapse {% if(include.open) %}show{% endif %}" aria-labelledby="heading-{{ slug }}" data-bs-parent="#accordion-{{ slug }}">
            <div class="accordion-body">
                {{ include.content }}
            </div>
        </div>
    </div>
</div>