<!DOCTYPE html>
<html lang="en" ng-app="app">

    {% include head.html %}

    <body ng-controller="gitHubDataController">

        {% include header.html %}

        <div>
            <div class="banner"></div>
        </div>

        {% raw %}

        <div class="hamburger-container">
            <span ng-click="showHamburger = !showHamburger" class="fa fa-bars fa-2x"></span>
            <div class="hamburger-nav" ng-if="showHamburger">
                <div ng-repeat="category in catData" ng-class="{'selected-tab': $index == selectedIndex }">
                    <a class="tab" href="../explore#{{ category.hash }}">{{ category.title }}</a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="nav-container">
                <nav class="stickynav">
                    <div ng-repeat="category in catData" ng-class="{'selected-tab': $index == selectedIndex }">
                        <img ng-src="{{ category.icon.path }}" style="width: 40px; height: 40px; margin-right: 10px;" alt="{{ category.icon.alt }}" title="{{ category.icon.alt }}" />
                        <a class="tab" href="../explore#{{ category.hash }}">{{ category.title }}</a>
                    </div>
                </nav>
            </div>

            <div class="main">
                <div ng-repeat="category in catData">
                    <div class="page">

                        <div ng-if="category.title === currentLocation">
                            <div class="title-container page-header">
                                <img ng-src="{{ category.icon.path }}" style="width: 125px; height: 125px" alt="{{ category.icon.alt }}" title="{{ category.icon.alt }}" />
                                <div class="title-description" style="width: 700px">
                                    <h2>{{ category.title }}</h2>
                                    <p>{{ category.description.short }}{{ category.description.long }}</p>
                                </div>
                            </div>
                            <div style="display: flex; display: -webkit-flex; justify-content: center;">
                                <input ng-model="searchText" type="text" style="width: 25%; margin-bottom: 10px; margin-right: 10px;" autofocus placeholder="Filter Repositories" />
                                <p>
                                    Sort By:
                                    <select ng-model="orderProp">
                                        <option value="-stars"> Stars </option>
                                        <option value="-forks"> Forks </option>
                                        <option value="name"> Name </option>
                                        <option value="owner"> Org </option>
                                    </select>
                                </p>
                            </div>

                            <section class="flex-container-category" id="repositories">
                                <div class="flex-item {{ repo.name }} {{ repo.owner.login }} {{ repo.primaryLanguage.name }}" ng-repeat="repo in topicRepos[catData.indexOf(category)] | filter: searchText | orderBy: orderProp" ng-click="repoHref(repo.nameWithOwner)">
                                    <h4 class="text-center">
                                        <span alt="Name" title="Name"> {{ repo.name }} </span>
                                        <small><span alt="Owner" title="Owner"> {{ repo.owner }} </span></small>
                                        <small><span alt="Primary Language" title="Primary Language"> {{ repo.language || '-' }} </span></small>
                                    </h4>

                                    <p>{{ repo.description }}</p>

                                    <p class="stats text-center">
                                        <a href="{{ repo.gitUrl }}" alt="GitHub Page" title="GitHub Page">
                                            <span class="fa fa-github"></span>
                                        </a>

                                        <a href="{{ repo.gitUrl }}/stargazers" alt="Stargazers" title="Stargazers">
                                            <span class="fa fa-star"></span> {{ repo.stars }}
                                        </a>

                                        <a href="{{ repo.gitUrl }}/network" alt="Forks" title="Forks">
                                            <span class="fa fa-code-fork"></span> {{ repo.forks }}
                                        </a>

                                        <a ng-if="repo.homepageUrl" href="{{ repo.homepageUrl }}" alt="Project Website" title="Project Website">
                                            <span class="fa fa-globe"></span>
                                        </a>
                                    </p>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% endraw %}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="/js/focused-category-info.js"></script>

        {% include footer.html %}

        {% include scripts.html %}

        {% include piwik.html %}
    </body>
</html>
